<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
         <a class="nav-link" href="https://drive.google.com/file/d/1B-qe2ssqdawyw6YD0AnVlY9hdRxuyZ32/view?usp=sharing" target="_blank">Resume</a> 
      </ul>
    </div>
  </div>
</header>
